<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Makplus - Marketplace HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- Start - Template CSS here -->
        <link rel="stylesheet" href="css/template_css/bootstrap.min.css">
        <link rel="stylesheet" href="css/template_css/animate.min.css">
        <link rel="stylesheet" href="css/template_css/magnific-popup.css">
        <link rel="stylesheet" href="css/template_css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/template_css/aos.css">
        <link rel="stylesheet" href="css/template_css/flaticon.css">
        <link rel="stylesheet" href="css/template_css/jquery-ui.min.css">
        <link rel="stylesheet" href="css/template_css/nice-select.css">
        <link rel="stylesheet" href="css/template_css/meanmenu.css">
        <link rel="stylesheet" href="css/template_css/slick.css">
        <link rel="stylesheet" href="css/template_css/default.css">
        <link rel="stylesheet" href="css/template_css/style.css">
        <link rel="stylesheet" href="css/template_css/responsive.css">
        <!-- End - Template CSS here -->

        <!-- Start - CSS here -->
        <link rel="stylesheet" href="css/my_css/style.css">
        <!-- End - CSS here -->

        <style>
            .styled-table {
                border-collapse: collapse;
                margin: 25px 0;
                font-size: 0.9em;
                font-family: sans-serif;
                min-width: 400px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            }

            .styled-table thead tr {
                background-color: #009879;
                color: #ffffff;
                text-align: left;
            }

            .styled-table th,
            .styled-table td {
                padding: 12px 15px;
            }

            .styled-table tbody tr {
                border-bottom: 1px solid #dddddd;
            }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

            .styled-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }
        </style>
</head>
<body>
    <!-- header -->
    {{>header}}
    <!-- header -->
    
    <!-- Start: Main content-->
    <div class="chargeMoneyMobile">
        <div class="containerForm" >
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Message</th>
                    <th>Code</th>
                    <th>Sign</th>
                </tr>
                </thead>
                {{#each callbacks}}
                <tbody>
                    <tr>
                        <td>{{transactionId}}</td>
                        <td>{{sign}}</td>
                        <td>{{realAmount}}</td>
                        <td>{{orderId}}</td>
                        <td>{{message}}</td>
                        <td>{{forControl}}</td>
                        <td>{{code}}</td>
                        <td>{{callbackType}}</td>
                        <td>{{balance}}</td>
                        <td>{{redirectUrl}}</td>
                    </tr>
                <!-- and so on... -->
                </tbody>
                {{/each}}

            </table>
        </div>
    </div>
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
           
        </div>
        <div class="loaderText">
            <h1>Giao dịch đang được thực hiện. Vui lòng chờ trong giây lát!</h1>
            <h3>Vui lòng không làm mới hoặc tắt trình duyệt</h3>
        </div>
    </div>
    <!-- End: Main content-->

    <!-- footer -->
    {{>footer}}
    <!-- footer-end -->

    <!-- Start - My JS here -->
        <script src="js/my_js/pay_out_payment.js"></script>
        
    <!-- End - My JS here -->
    <script>
        $('header').css('display', 'none');
    </script>
	<!-- Start - Template JS here -->
        <script src="js/template_js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/template_js/popper.min.js"></script>
        <script src="js/template_js/bootstrap.min.js"></script>
        <script src="js/template_js/isotope.pkgd.min.js"></script>
        <script src="js/template_js/slick.min.js"></script>
        <script src="js/template_js/jquery.meanmenu.min.js"></script>
        <script src="js/template_js/ajax-form.js"></script>
        <script src="js/template_js/wow.min.js"></script>
        <script src="js/template_js/aos.js"></script>
        <script src="js/template_js/jquery-ui.min.js"></script>
        <script src="js/template_js/jquery.counterup.min.js"></script>
        <script src="js/template_js/jquery.waypoints.min.js"></script>
        <script src="js/template_js/jquery.nice-select.min.js"></script>
        <script src="js/template_js/jquery.scrollUp.min.js"></script>
        <script src="js/template_js/imagesloaded.pkgd.min.js"></script>
        <script src="js/template_js/jquery.magnific-popup.min.js"></script>
        <script src="js/template_js/plugins.js"></script>
        <script src="js/template_js/main.js"></script>
    <!-- End - Template JS here -->
</body>
</html>